$ey-primary-yellow: #ffe600;
$ey-primary-dark-gray: #2e2e38;
$ey-primary-gray-coated: #808080;
$ey-primary-gray-1: #999999;
$ey-primary-gray-2: #c4c4cd;
$ey-primary-gray-3: #f0f0f0;
$ey-black: black;
$ey-white: white;
$ey-off-white: #f6f6fa;

$ey-secondary-blue: #00a3ae;
$ey-secondary-purple: #91278f;
$ey-secondary-green: #2c973e;
$ey-secondary-lilac: #ac98db;
$ey-secondary-red: #f04c3e;
$ey-secondary-blue: #336699;

$primary: #181820;
$selected: #2c2c2c;
$gradient: linear-gradient(97deg, #2e2e38, #181820);
