.header {
    background: #fff !important;
    padding: 0 16px !important;
    text-align: right;
  
    .picture {
      width: 40px;
      border-radius: 20px;
      background-color: bisque;
    }
    .username {
      margin-right: 20px;
      color:white !important;
      float:right;
    }
  }
  